{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.nom) }}
            {{ form_row(form.nomSalle) }}
        </div>
        <div class="col-6">
            {{ form_row(form.date) }}
        </div>
    </div>
    {{ form_row(form.adresse) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.codePostal) }}
        </div>
        <div class="col-6">
            {{ form_row(form.ville) }}
        </div>
    </div>
    <div class="row">
            {{ form_row(form.textEmail) }}
    </div>
    <div class="row">
        {% if event.plan != null %}
            <div class="col-6">
                <div class="box-img">
                    <img class="w-100" src="{{ vich_uploader_asset(event.plan) }}" alt="{{ event.plan.filePath }}">
                </div>
                {{ form_row(form.planFile) }}
            </div>
        {% else %}
            <div class="col-6">
                {{ form_row(form.planFile) }}
            </div>
        {% endif %}

        {% if event.imageTicket != null %}
            <div class="col-6">
                <div class="box-img">
                    <img class="w-100" src="{{ vich_uploader_asset(event.imageTicket) }}" alt="{{ event.imageTicket.filePath }}">
                </div>
                {{ form_row(form.imageTicketFile) }}
            </div>
        {% else %}
            <div class="col-6">
                {{ form_row(form.imageTicketFile) }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(form.billetwebId) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
