<div id="canvas" style="background: url('{{image_ticket_path}}');">
    <div id="empty"></div>
    <div id="infos-personne">
        <div style="height: 55px;"></div>
        <p>{{nom}}</p>
        <p>{{prenom}}</p>

        <p class="bar">—</p>

        <p>{{rue}}</p>
        <p>{{code_postal}} {{ville}}</p>

        <p class="bar">—</p>

        <p>Billet n°{{numero_ticket}}</p>
    </div>
</div>
