<div id="canvas" style="background: url('{{image_ticket_path}}');">
  <div id="empty"></div>
  <div id="infos-personne">
    <div style="height: 90px;"></div>
    <p style="color: #000;">{{civilite}}
      {{prenom}}
      {{nom}}</p>

    <p style="color: #000;" class="bar">—</p>

    <p style="color: #000;">{{rue}}</p>
    <p style="color: #000;">{{code_postal}}
      {{ville}}</p>

    <p style="color: #000;" class="bar">—</p>

    <p style="color: #000;">Billet n°{{numero_ticket}}</p>
  </div>
</div>
