<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Reservation GALA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a href="{{ path('table_new') }}" class="btn btn-outline-primary">Créer une table</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{{ path('personne_new') }}" class="btn btn-outline-primary">Créer une personne</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{{ path('personne_index') }}" class="btn btn-outline-primary">Liste des personnes</a>
                </li>
                <li class="nav-item mx-5">
                    <custom-searchbar></custom-searchbar>
                </li>
            </ul>
        </div>
        <div class="ml-auto btn-group dropstart">
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear-fill"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="d-flex align-items-center flex-column">
                        <a class="m-2 dropdown-item" href="{{ path('event_edit', {'id': 1}) }}">Editer l'évènement</a>
                        <a class="m-2 dropdown-item" href="#">Imprimer le plan de salle</a>
                        <hr class="w-100">
                        <button type="button" class="m-2 btn btn-danger" data-bs-toggle="modal" data-bs-target="#reinitialisationEventModal">Réinitialiser l'évènement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
